In [2]:
import pandas as pd 
import os

In [3]:
base_dir = os.getcwd()
parent_dir = os.path.join(base_dir, os.pardir)
file_path = os.path.join(parent_dir,"Social_Network_Ads.csv")

In [4]:
df = pd.read_csv(file_path)
df.sample()

     Age  EstimatedSalary  Purchased
367   46            88000          1

In [5]:
df.tail()

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [8]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [10]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [25]:
df.corr().round(2)

                  Age  EstimatedSalary  Purchased
Age              1.00             0.16       0.62
EstimatedSalary  0.16             1.00       0.36
Purchased        0.62             0.36       1.00

In [12]:
x = df['Age']
y = df['Purchased']

In [13]:
from sklearn.model_selection import  train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,random_state=0)

In [16]:
x_train.shape
y_train.shape

(320,)

In [17]:
x_test.shape
y_test.shape

(80,)

In [20]:
import numpy as np
x_train = np.reshape(x_train,(-1,1))
x_test = np.reshape(x_test,(-1,1))
y_train = np.reshape(y_train,(-1,1))
y_test = np.reshape(y_test,(-1,1))

In [18]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [35]:
from sklearn.metrics import  mean_squared_error,r2_score,accuracy_score, confusion_matrix
model.fit(x_train,y_train)
y_pred_train = model.predict(x_train)
print("Train Loss: ", accuracy_score(y_train, y_pred_train))

Train Loss:  0.815625

C:\Users\Devanand\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [34]:
model.fit(x_test,y_test)
y_pred_test = model.predict(x_test)
print("Accuracy is  ", accuracy_score(y_test, y_pred_test))

Accuracy is   0.9375

C:\Users\Devanand\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
cm = confusion_matrix(y_test, y_pred_test)

In [40]:
cm

array([[57,  1],
       [ 4, 18]], dtype=int64)

In [47]:
TN = cm[0][0]
FN = cm[1][0]
FP = cm[0][1]
TP = cm[1][1]

print("TN: ",TN)
print("FN: ",FN)
print("FP: ",FP)
print("TP: ",TP)

TN:  57
FN:  4
FP:  1
TP:  18

In [44]:
precision = TP/(TP+FP)
print("Precision: ",precision)

Precision:  0.9473684210526315

In [45]:
Recall = TP/(TP+FN)
print("Recall: ",Recall)

Recall:  0.8181818181818182

In [49]:
Accuracy = (TP+TN)/(TP+FP+TN+FN)
print("Accuracy: ",Accuracy*100)

Accuracy:  93.75