In [14]:
import numpy as np 
import pandas as pd 
import math

In [15]:
df=pd.read_csv('raw_data.csv')

In [16]:
df

,math score,reading score,writing score,Placement Score,placement offer count
0,72.000000,72.00,74.0,78.000,1
1,69.000000,90.00,88.0,62.125,2
2,90.000000,95.00,93.0,74.000,2
3,47.000000,57.00,77.0,78.000,1
4,52.285714,78.00,75.0,81.000,3
5,71.000000,72.25,78.0,70.000,4
6,12.000000,44.00,52.0,12.000,2
7,52.285714,65.00,67.0,49.000,1
8,5.000000,77.00,89.0,55.000,0

In [21]:
def mean_value(variable):
    sum_values(df[variable]).sum()
    count_values(df[variable]).count()
    return sum_values/count_values

In [23]:
mean_value('math score')

NameError: name 'sum_values' is not defined

In [36]:
sum_value=df['math score'].sum()
count_value=df['math score'].count()

mean_val=sum_value/count_value
print(mean_val)
print(df['math score'].mean())

52.28571422222222
52.28571422222222

In [39]:
middle_index=math.floor(count_value/2)
median=np.sort(df['math score'])[middle_index]
print(median)

52.285714

In [43]:
def median(variable):
    middle_index=math.floor(count_value/2)
    return np.sort(df[variable])[middle_index]


median('math score')

52.285714

In [45]:
median('reading score')

72.25

In [50]:
def max_value(variable):
        return np.sort(df[variable])[-1]
    
max_value("math score")
max_value('reading score')

95.0

In [55]:
def min_value(variable):
        return np.sort(df[variable])[0]
    
print(min_value("math score"))
print(min_value('reading score'))

5.0
44.0

In [70]:
def variance(data,ddof=0):
    n=len(data)
    mean=sum(data)/n
    return sum((x-mean)**2 for x in data)/(n-ddof)

print(variance(df['math score']))

def std(data):
    return (((variance(data))))**0.5

std(df['math score'])

703.047619047619

26.515045145117497

In [71]:
df['math score'].describe()

count     9.000000
mean     52.285714
std      28.123452
min       5.000000
25%      47.000000
50%      52.285714
75%      71.000000
max      90.000000
Name: math score, dtype: float64